# Kopiere diese Datei nach secrets.yaml und trage deine Werte ein.
# secrets.yaml selbst wird NICHT in git gespeichert.

wifi_ssid: "DeinWLAN"
wifi_password: "DeinPasswort"

# Erzeuge einen neuen Key mit:  openssl rand -base64 32
api_key: "HIER_32_BYTE_BASE64_KEY"

